h1 {
  text-transform: uppercase
}

.btn {
  border: solid .2rem darkblue;
  background-color: #D4DCDC;
  margin-top: 2rem;
}

.btn:hover {
  transition: all .3s ease-out .02s;
  border: solid .4rem darkblue;
  background-color: white;
}

.top {
  margin-top: 3rem;
}

.actual {
  border: solid .2rem darkblue;
  background-color: white;
}

body {
  background-color: cadetblue;
}

.list-group-item {
  border: solid .1rem darkblue;
}

h4 {
  margin-top: 4rem;
}

p {
  margin: .5rem 0 2rem;
  font-size: 1.6rem;
}

.panel {
  background-color: cadetblue;
}

.panel-header {
  background-color: cadetblue;
  margin-bottom: 1rem;
}

.panel-body {
  background-color: aliceblue;
}

.list-group-item {
  background-color: #D4DCDC;
  color: darkblue;
}

.list-group-item:hover {
 transition: all .3s ease-out .02s;
 border: solid .2rem darkblue;
 background-color: white;  
} 

.cl-sm-12, .col-sm-6 {
  text-align: center;
}

.img-responsive {
  margin-top: 2rem;
}

.quote {
  background-color: aliceblue;
  transition: all .2s ease-out .1s;
}

.quote:hover {
  transform: scale(1.05) translate(2rem, -.5rem);
  background-color: navajowhite;
  color: brown;
  box-shadow: 3px 6px 3px 0 grey;
}

.paint {
  transition: all .2s ease .1s;
}

.paint:hover {
  transform: scale(1.03) translate(1rem, -.5rem);
  box-shadow: 3px 6px 3px 0 grey;
}

.fault:hover {
animation: toandfro .8s;
}

@keyframes toandfro {
  0%   {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
  }
  
.dragon:hover {
  animation-name: jump;
  animation-duration: .8s; 
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes jump {
  0% {transform: scale(1);}
  50% {transform: scale(6) rotate(-20deg) translate(-4rem, -4rem);}
  100% {transform: scale(1);}
  }

