h1 {
  text-transform: uppercase
}

.btn {
  border: solid .2rem darkblue;
  background-color: #D4DCDC;
  margin-top: 2rem;
}

.btn:hover {
  transition: all .3s ease-in-out;
  border: solid .4rem darkblue;
  background-color: white;
}

.top {
  margin-top: 3rem;
}

.actual {
  border: solid .2rem darkblue;
  background-color: white;
}

body {
  background-color: cadetblue;
}

.list-group-item {
  border: solid .1rem darkblue;
}

h4 {
  margin-top: 3rem;
}

p {
  margin: .5rem 0 2rem;
}

.panel {
  background-color: cadetblue;
}

.panel-header {
  background-color: cadetblue;
  margin-bottom: 1rem;
}

.well {
  background-color: aliceblue;
}

.panel-body {
  background-color: aliceblue;
}

.list-group-item {
  background-color: #D4DCDC;
  color: darkblue;
}

.list-group-item:hover {
 transition: all .3s ease-in-out;
 border: solid .2rem darkblue;
 background-color: white;  
} 

